<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=co.ntier"/>
        <listEntry value="archetypeArtifactId=spring-mvc-archetype"/>
        <listEntry value="archetypeVersion=1.0.2"/>
        <listEntry value="groupId=wellman.ltd"/>
        <listEntry value="artifactId=Springmvc"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=wellman.ltd.Springmvc"/>
        <listEntry value="outputDirectory=C:\Users\Patil\Documents\workspace-spring-tool-suite-4-4.22.0.RELEASE"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Patil\AppData\Local\Temp\m2e-archetypeGenerator18220026168476398515"/>
</launchConfiguration>
